
<ion-tabs (ionTabsWillChange)="onTabsWillChange($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home{{ active === 'home' ? '' : '-outline' }}"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schedule">
      <ion-icon name="today{{ active === 'schedule' ? '' : '-outline' }}"></ion-icon>
      <ion-label>Schedule</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="request">
      <ion-icon name="document{{ active === 'request' ? '' : '-outline' }}"></ion-icon>
      <ion-label>Request</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
