<ion-header no-border no-shadow>
  <ion-toolbar>
    <div slot="start" style="width: 48px"></div>
    <ion-title style="text-align: center">Schedule</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="isAuthenticated" (click)="history()" >
        <ion-icon slot="icon-only" name="time-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-refresher *ngIf="!isLoading && isAuthenticated" slot="fixed" (ionRefresh)="doRefresh($event)" class="refresher-custom">
    <ion-refresher-content >
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="isAuthenticated">
    <ion-card mode="ios">
      <ion-list lines="none" >
        <ion-item *ngIf="!isLoading; else elseLoadingPending" button (click)="onOpenPending()">
          <ion-label><h2>Pending</h2></ion-label>
          <ion-badge color="primary">{{ totalPending }}</ion-badge>
        </ion-item>
        <ng-template #elseLoadingPending>
          <ion-item >
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-item>
        </ng-template>
      </ion-list>
    </ion-card>
  </div>
  <div style="display: flex; flex-direction: column;" [style]="isAuthenticated ? 'height: 60%' : 'height: 100%'">
    <h2 class="list-title" *ngIf="isAuthenticated">Reservations</h2>
    <div style="display: flex; flex-direction: column;" *ngIf="reservation.length > 0; else elseNoData">
      <div *ngFor="let r of reservation">
        <ion-card mode="ios">
          <div class="sched-card">
            <div class="card-header">
              <span>{{r.reservationDate | date: 'segmentChanged'}}</span>
              <h2 class="date">{{r.reservationDate | date: 'dd'}}</h2>
              <span><strong>{{r.reservationDate + ' ' + r.time | date: 'hh:mm a'}}</strong></span>
              <span>{{r.reservationDate | date: 'EEEE'}}</span>
            </div>
            <div class="card-content">
              <div class="content-row border">
                <div class="field ">
                  <h3 class="value"><strong>ID #: {{r.reservationId | numberLeadZero:5}}</strong></h3>
                </div>
              </div>
              <div class="content-row">
                <div class="field action">
                  <ion-buttons slot="end">
                    <ion-button (click)="showMenu(r)">
                      <ion-icon name="ellipsis-vertical-sharp"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </div>
              </div>
              <div class="content-row">
                <div class="field type">
                  <h3>Type</h3>
                  <h3 class="value"><strong>{{r.reservationType.name}}</strong></h3>
                </div>
              </div>
              <div class="content-row">
                <div class="field type">
                  <h3 class="value" *ngIf="r.reservationType.reservationTypeId === '1' || r.reservationType.reservationTypeId !== '2'">{{r.massCategory.name}}</h3>
                  <h3 class="value" *ngIf="r.reservationType.reservationTypeId === '3'">{{r.massIntentionType.name}}</h3>
                </div>
              </div>
            </div>
          </div>
        </ion-card>
      </div>
    </div>
    <ng-template #elseNoData >
      <div class="no-records">
        <ion-icon style="font-size: 4em;" name="search-outline"></ion-icon>
        <h3 class="text">No reservations to show</h3>
      </div>
    </ng-template>
  </div>
  <ng-template #elseLoading>
    <div>
      <div *ngFor="let a of [1]">
        <ion-card mode="ios">
          <div class="sched-card">
            <div class="card-header" style="width: 90px!important">
              <span style="width: 100%!important">
                <ion-skeleton-text [animated]="true"></ion-skeleton-text>
              </span>
              <h2 class="date" style="width: 100%!important">
                <ion-skeleton-text [animated]="true"></ion-skeleton-text>
              </h2>
              <span style="width: 100%!important">
                <ion-skeleton-text [animated]="true"></ion-skeleton-text>
              </span>
              <span style="width: 100%!important">
                <ion-skeleton-text [animated]="true"></ion-skeleton-text>
              </span>
            </div>
            <div class="card-content">
              <div class="content-row border">
                <div class="field vet" style="width: 100%!important">
                  <h3 class="value" >
                    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                  </h3>
                </div>
              </div>
              <div class="content-row">
                <div class="field type" style="width: 100%!important">
                  <h3 class="value" >
                    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </ion-card>
      </div>
    </div>
  </ng-template>
</ion-content>
<div class="sched-controls-bottom">
  <ion-button [disabled]="isLoading" color="primary" size="large" expand="block" (click)="isAuthenticated ? onOpenAdd() : logout()">{{isAuthenticated ? 'Book new Reservation' : 'Login to book reservation'}}</ion-button>
</div>
